apiVersion: v1
kind: Service
metadata:
  name: {{ include "pgadmin.fullname" . }}
  namespace: {{ include "pgadmin.namespaceName" . }}
  labels: {{- include "pgadmin.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations: {{- include "pgadmin.tplToMap" (dict "toMap" . "context" $) | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if and (eq .Values.service.type "ClusterIP") (not (empty .Values.service.clusterIP)) }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}  
  {{- if and (eq .Values.service.type "LoadBalancer") (not (empty .Values.service.loadBalancerIP)) }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
    {{- with .Values.service.nodePort }}
      nodePort: {{ . }}
    {{- end }}
      protocol: TCP
      name: http
  selector: {{- include "pgadmin.selectorLabels" . | nindent 4 }}
