# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
name: Codespell
on: pull_request

permissions:
  contents: read

jobs:
  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          ignore_words_list: iam,aks
          check_filenames: true
          check_hidden: true
